.about-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: rgb(255, 187, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.background-zoom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background-image: url('https://trello.com/1/cards/667d4dd852281e395554e3d6/attachments/669c3db691219b7fbf59432b/previews/669c3db791219b7fbf594334/download/Default_A_sleek_and_modern_TrinityCode_Lab_logo_every_element_0.jpg');
  background-size: cover;
  background-position: center;
  animation: zoom 30s infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  /* 50% {
    transform: scale(1.2);
  } */
  100% {
    transform: scale(1.5);
  }
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin: 50px auto;
  border-radius: 8px;
}
