.jumbotron-bg {
   
  
  margin: 1 auto; 
  display: flex;
  height: 95vh; 
  background-repeat: no-repeat;
  opacity: .9;
  background-size: cover;
  background-image: url('https://trello.com/1/cards/667d4dd852281e395554e3d6/attachments/669d3cc0a9047c02df87a730/previews/669d3cc1a9047c02df87a73a/download/Default_In_the_heart_of_the_bustling_marketplace_lies_a_futuri_1.jpg');
 
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.text-white {
  color: #fff;
}

