.jumbotron-bg {
   
     
    background-repeat: no-repeat;
    margin: 10 auto; 
    display: flex;
    height: 90vh; 
    border-radius: 100px;
       background-repeat: no-repeat;
      
       background: #00000016;
       opacity: .7;
       background-size: cover;
        background-image: url('https://trello.com/1/cards/667f56e7076d4f7b73d0453c/attachments/6688834db62f14fc0c3d235f/previews/6688834eb62f14fc0c3d23a1/download/banner.jpg');
   
  }
  
  .mask {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .text-white {
    color: #fff;
  }
  
  