.jumbotron-bg {
   
  
  margin: 1 auto; 
  display: flex;
  height: 95vh; 
  background-repeat: no-repeat;
  opacity: .9;
  background-size: cover;
  background-image: url('https://cdn.leonardo.ai/users/68dd55a0-0f93-44ce-b378-d0b6674366d9/generations/1a63ac21-6296-458a-9d35-913bd8ebe0df/Default_In_the_heart_of_the_bustling_marketplace_lies_a_futuri_0.jpg');
 
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.text-white {
  color: #fff;
}

