.cart-card {
    padding: 20px;
    background-color: #0c0c0c41;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .cart-card h4 {
    margin: 0 0 10px;
    font-size: 1.2em;
  }
  
  .cart-card img {
    width: 150px;
    height: auto;
    margin-right: 20px;
  }
  
  .cart-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item-details p {
    margin: 5px 0;
  }
  
  .btn-card {
    margin-top: 10px;
  }
  
  .btn-card .btn {
    width: 100%;
  }

  
  