body {
  background-color: #000;
  color: #fff;
  font-family: 'Star Jedi', sans-serif;
}

.footer {
  background-color: #111;
  padding: 20px 0;
}

.footer a {
  color: #f9d71c;
}

.footer a:hover {
  color: #fff;
}

.footer .social-icons i {
  font-size: 24px;
  margin: 0 10px;
}
footer {
  margin-top: 0px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  
}