.footer {
  background-color: #111111d7;
  padding: 10px 10;
  z-index: 1000;
  position:static;
  width: 100%;
}

.footer a {
  color: #f9d71c;
}

.footer a:hover {
  color: #fff;
}

.footer .social-icons i {
  font-size: 24px;
  margin: 0 10px;
}
