.footer {
    background-image: url(https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY-1200-80.jpg.webp);
    width: 100%;
    height: 1%;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0; 

  }
  