.ground-card {
    border: 2px solid #ddd;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    text-align: center;
    width: 280px;
   }
  
  .ground-card img {
    max-width: 100%;
    height: auto;
    
  }

  
  .ground-card h2 {
    font-size: 1.0em;
    color: rgb(105, 128, 64);
    background-color: rgb(36, 40, 37);
    border-radius: 2px;
  }
  
  .ground-card p {
    margin: 8px 0;
    color: rgb(144, 177, 112);
    text-align: left;    
  }

  .pcard-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
