.logo {
    height: 40px;
    max-width: 100%; 
   
  }
  
  .navbar-nav .nav-item .nav-link {
    margin-left: 20px; 
    border-bottom: 10px;
       
  
  }
  
  .dropdown-menu {
    right: auto; 
    left: auto;
  }
  
  .btn-secondary.dropdown-toggle {
    margin-right: 10px; 
  }

 