.navbar {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  border-color: #fff;
  border-radius: 1px;
  color: #fff;
  padding: 1rem;
  background: rgba(34, 34, 34, 0.877);
  margin-left: 0rem;
  margin-right: 0rem;
  
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sticky {
  background: rgba(34, 34, 34, 0.877);
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
 
}



.navbar-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar-left .logo {
  position: relative;
  border-radius: 50%;
  margin-bottom: 10px;
  
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 1100px;

}

.navbar-center .nav-links li {
  margin-right: 4rem;
  
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  
}

.navbar-right .cart-icon,
.navbar-right .user-icon {
  color: #fff;
  text-decoration: none;
  margin-left: 2rem;
  position:relative;
  
}

.navbar-right .cart-count {
  background-color: #0d6efd;
  color: #fff;
  border-radius: 20%;
  padding: 0.1rem 0.4rem;
  font-size: 0.7rem;
  position:relative;
  top: -0.2rem;
  right: -0.2rem;
  
}

@media (max-width: 768px) {
  .navbar-center .nav-links {
    display: none;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

  .navbar-right .hamburger-menu {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.navbar-center .nav-links a:hover {
  color: rgb(218, 174, 14);
}
