.space{
    background-image: url(https://trello.com/1/cards/667f56e7076d4f7b73d0453c/attachments/6686087dea91b36c71c3ccde/download/space.webp);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* .container{
    background-color: rgb(109, 109, 109);
} */

.product_photo{
    width: 100px; 
    height: 100px; 

   
}