.shop-brackgound{
   background-image: url(https://trello.com/1/cards/667f56e7076d4f7b73d0453c/attachments/667f5bdb782468a28470d45c/download/Banner_bG.jpg);
   height: 1000px;
}

.btn-rosado {
    background-color: #ff69b4; 
    color: white; 
    border: none; 
  }

  .btn-verde-claro {
    background-color: #90ee90; 
    color: white; 
    border: none; 
  }

  .btn-azul-claro {
    background-color: #add8e6; 
    color: white; 
    border: none; 
  }

  .bg-negro {
    background-image: url(https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY-1200-80.jpg.webp);
  }

  .card-link {
    display: block;
    position: relative;
  }
  
  .card-link img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-link::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); 
    z-index: 1;
  }