.space-card {
    border: 2px solid #ddd;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    text-align: center;
    width: 280px;
   }
  
  .space-card img {
    max-width: 100%;
    height: auto;
    
  }

  
  .space-card h2 {
    font-size: 1.0em;
    color: rgb(170, 207, 253);
    background-color: rgb(28, 71, 132);
    border-radius: 2px;
  }
  
  .space-card p {
    margin: 8px 0;
    color: rgb(55, 134, 165);
    text-align: left;    
  }

  .pcard-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
