.star-background .star:nth-child(1) { top: 30.361788895487262%; left: 5.826100096010234%; }
.star-background .star:nth-child(2) { top: 50.12234165403389%; left: 51.841557493885325%; }
.star-background .star:nth-child(3) { top: 86.4437323844061%; left: 98.270566874922%; }
.star-background .star:nth-child(4) { top: 95.50462749987219%; left: 44.946986296966294%; }
.star-background .star:nth-child(5) { top: 53.55271168329019%; left: 3.2133930453100312%; }
.star-background .star:nth-child(6) { top: 75.81976965172849%; left: 74.74779437652661%; }
.star-background .star:nth-child(7) { top: 56.92561776258118%; left: 38.37637067157613%; }
.star-background .star:nth-child(8) { top: 38.67191749248897%; left: 64.6629410198901%; }
.star-background .star:nth-child(9) { top: 3.492603379900028%; left: 6.794199166616766%; }
.star-background .star:nth-child(10) { top: 78.2425501313423%; left: 62.486532650459694%; }
.star-background .star:nth-child(11) { top: 84.08924941881382%; left: 57.57144521079902%; }
.star-background .star:nth-child(12) { top: 65.55480826489432%; left: 28.597706441026794%; }
.star-background .star:nth-child(13) { top: 12.689051713033273%; left: 42.75984783762663%; }
.star-background .star:nth-child(14) { top: 27.49918752397569%; left: 67.47750675656089%; }
.star-background .star:nth-child(15) { top: 6.454348301906276%; left: 62.58647572305367%; }
.star-background .star:nth-child(16) { top: 31.88894843326755%; left: 50.653474787790564%; }
.star-background .star:nth-child(17) { top: 5.967853930179046%; left: 28.84188626171893%; }
.star-background .star:nth-child(18) { top: 9.45438587348506%; left: 34.66709895848354%; }
.star-background .star:nth-child(19) { top: 31.287623223739192%; left: 72.71229859970352%; }
.star-background .star:nth-child(20) { top: 7.5541850839410785%; left: 92.84313045790684%; }
.star-background .star:nth-child(21) { top: 4.7168367965013%; left: 9.857988008731589%; }
.star-background .star:nth-child(22) { top: 29.693559984352326%; left: 98.50382400111542%; }
.star-background .star:nth-child(23) { top: 9.32296104532675%; left: 16.76780884628526%; }
.star-background .star:nth-child(24) { top: 64.08333299854078%; left: 71.74896268633518%; }
.star-background .star:nth-child(25) { top: 98.65084808172453%; left: 24.22946044854861%; }
.star-background .star:nth-child(26) { top: 81.24468389145277%; left: 24.193963970942622%; }
.star-background .star:nth-child(27) { top: 80.02956206675049%; left: 8.765302947717114%; }
.star-background .star:nth-child(28) { top: 59.48022915196878%; left: 29.17211971269038%; }
.star-background .star:nth-child(29) { top: 56.83634595096046%; left: 83.43765804158964%; }
.star-background .star:nth-child(30) { top: 20.423572525231926%; left: 22.37497384606375%; }
.star-background .star:nth-child(31) { top: 50.91224384281983%; left: 86.4666747993182%; }
.star-background .star:nth-child(32) { top: 47.45963990864948%; left: 91.64811739378398%; }
.star-background .star:nth-child(33) { top: 72.53990184669522%; left: 17.11538167251394%; }
.star-background .star:nth-child(34) { top: 49.841415043036655%; left: 30.863179047259838%; }
.star-background .star:nth-child(35) { top: 87.64844913880414%; left: 27.93279778587261%; }
.star-background .star:nth-child(36) { top: 9.324081998365541%; left: 83.20565844717973%; }
.star-background .star:nth-child(37) { top: 48.68132761923951%; left: 38.92124640940096%; }
.star-background .star:nth-child(38) { top: 2.660979048834622%; left: 71.84804466140568%; }
.star-background .star:nth-child(39) { top: 96.58818572750336%; left: 77.3096265860419%; }
.star-background .star:nth-child(40) { top: 72.40945752490826%; left: 73.60517684614784%; }
.star-background .star:nth-child(41) { top: 19.494786339731917%; left: 73.72961273555293%; }
.star-background .star:nth-child(42) { top: 64.59592767254978%; left: 54.789871984756466%; }
.star-background .star:nth-child(43) { top: 86.93736752353531%; left: 52.19476033564676%; }
.star-background .star:nth-child(44) { top: 10.665050165745104%; left: 6.343037585542777%; }
.star-background .star:nth-child(45) { top: 64.7346935600648%; left: 88.91835613861474%; }
.star-background .star:nth-child(46) { top: 65.33895588320675%; left: 45.38682926605966%; }
.star-background .star:nth-child(47) { top: 9.422979290530664%; left: 20.787934637409442%; }
.star-background .star:nth-child(48) { top: 38.129690881100316%; left: 25.267625787175717%; }
.star-background .star:nth-child(49) { top: 86.74328323173467%; left: 94.03634583660532%; }
.star-background .star:nth-child(50) { top: 13.330174076642942%; left: 1.7972926612956686%; }
.star-background .star:nth-child(51) { top: 54.71982558609889%; left: 48.23539201011007%; }
.star-background .star:nth-child(52) { top: 77.9215119816367%; left: 95.77262742331891%; }
.star-background .star:nth-child(53) { top: 69.7692811861649%; left: 92.4755414501456%; }
.star-background .star:nth-child(54) { top: 72.76235690271497%; left: 43.953587416771356%; }
.star-background .star:nth-child(55) { top: 88.40830515032725%; left: 16.888937070726385%; }
.star-background .star:nth-child(56) { top: 91.88904922104786%; left: 51.4617593838292%; }
.star-background .star:nth-child(57) { top: 77.2606572733238%; left: 46.597459225141826%; }
.star-background .star:nth-child(58) { top: 48.13265547781636%; left: 89.81424465864905%; }
.star-background .star:nth-child(59) { top: 9.473783084180877%; left: 88.16846739982522%; }
.star-background .star:nth-child(60) { top: 71.10858336080767%; left: 41.469123847253655%; }
.star-background .star:nth-child(61) { top: 3.9903740441809887%; left: 94.71781935506056%; }
.star-background .star:nth-child(62) { top: 39.0160990727165%; left: 97.21025718612002%; }
.star-background .star:nth-child(63) { top: 83.80685214392886%; left: 88.17368521877766%; }
.star-background .star:nth-child(64) { top: 81.17661443499551%; left: 94.41419689778232%; }
.star-background .star:nth-child(65) { top: 42.998862151863435%; left: 52.485477143718384%; }
.star-background .star:nth-child(66) { top: 14.949081001789267%; left: 25.75968363824721%; }
.star-background .star:nth-child(67) { top: 83.27058193260437%; left: 66.14597130261366%; }
.star-background .star:nth-child(68) { top: 11.034934235565984%; left: 52.39662170793793%; }
.star-background .star:nth-child(69) { top: 79.24452204033597%; left: 90.5566176014189%; }
.star-background .star:nth-child(70) { top: 16.993522949344175%; left: 19.822490165362083%; }
.star-background .star:nth-child(71) { top: 97.49021384288783%; left: 41.83004648515038%; }
.star-background .star:nth-child(72) { top: 50.646484789005775%; left: 49.668569377659246%; }
.star-background .star:nth-child(73) { top: 27.15119994260613%; left: 69.75612082538166%; }
.star-background .star:nth-child(74) { top: 1.9705050671348978%; left: 14.0728661613452%; }
.star-background .star:nth-child(75) { top: 20.169580852949597%; left: 72.05186709024893%; }
.star-background .star:nth-child(76) { top: 21.585807044814764%; left: 57.8140748287975%; }
.star-background .star:nth-child(77) { top: 12.28017491172273%; left: 80.7753595360413%; }
.star-background .star:nth-child(78) { top: 81.33039481831976%; left: 2.027489049387965%; }
.star-background .star:nth-child(79) { top: 77.8555401737425%; left: 86.38898280193467%; }
.star-background .star:nth-child(80) { top: 28.512028725006445%; left: 21.27583789067069%; }
.star-background .star:nth-child(81) { top: 37.90772107931457%; left: 40.417435022336235%; }
.star-background .star:nth-child(82) { top: 23.48732027974807%; left: 24.519066772270627%; }
.star-background .star:nth-child(83) { top: 58.744950058349524%; left: 34.00168417370282%; }
.star-background .star:nth-child(84) { top: 21.079945034366855%; left: 68.04088115801574%; }
.star-background .star:nth-child(85) { top: 33.231339547551045%; left: 45.54328395360767%; }
.star-background .star:nth-child(86) { top: 4.016294134871168%; left: 49.23535589295804%; }
.star-background .star:nth-child(87) { top: 42.766095382460165%; left: 91.57192674998127%; }
.star-background .star:nth-child(88) { top: 72.09482488832467%; left: 64.48235474227685%; }
.star-background .star:nth-child(89) { top: 25.073616099512996%; left: 23.806117187445164%; }
.star-background .star:nth-child(90) { top: 75.09770079078926%; left: 68.0560031223223%; }
.star-background .star:nth-child(91) { top: 56.01135348452362%; left: 98.20393148043702%; }
.star-background .star:nth-child(92) { top: 39.94605626326291%; left: 73.99177701716961%; }
.star-background .star:nth-child(93) { top: 25.452156085602628%; left: 10.047410707152359%; }
.star-background .star:nth-child(94) { top: 68.87756477868648%; left: 84.6613817529545%; }
.star-background .star:nth-child(95) { top: 74.9213199663109%; left: 57.27375698791035%; }
.star-background .star:nth-child(96) { top: 43.37735485048333%; left: 83.1398863934438%; }
.star-background .star:nth-child(97) { top: 49.160276487383456%; left: 0.17135100704592787%; }
.star-background .star:nth-child(98) { top: 0.3055869313556059%; left: 50.40577061916045%; }
.star-background .star:nth-child(99) { top: 78.33922250675703%; left: 37.62678102770791%; }
.star-background .star:nth-child(100) { top: 4.720874353911575%; left: 16.969731786178734%; }
.star-background .star:nth-child(101) { top: 34.83083836294476%; left: 66.09768697199667%; }
.star-background .star:nth-child(102) { top: 94.9662329167164%; left: 94.18205820036276%; }
.star-background .star:nth-child(103) { top: 95.63831048211675%; left: 47.35397682366524%; }
.star-background .star:nth-child(104) { top: 7.709987383160488%; left: 43.94880654422813%; }
.star-background .star:nth-child(105) { top: 76.97065650533528%; left: 67.93974751591614%; }
.star-background .star:nth-child(106) { top: 64.29770945061557%; left: 0.8660560126906747%; }
.star-background .star:nth-child(107) { top: 26.31912109456853%; left: 83.51828551844866%; }
.star-background .star:nth-child(108) { top: 35.351679296340485%; left: 3.6982598818994683%; }
.star-background .star:nth-child(109) { top: 28.548647225067715%; left: 47.34882383285382%; }
.star-background .star:nth-child(110) { top: 48.817662003079086%; left: 90.39753538769291%; }
.star-background .star:nth-child(111) { top: 5.721099172459887%; left: 72.08365580432219%; }
.star-background .star:nth-child(112) { top: 57.753540852872455%; left: 84.78105004686292%; }
.star-background .star:nth-child(113) { top: 64.22105947068187%; left: 63.104246412367424%; }
.star-background .star:nth-child(114) { top: 88.95376801168129%; left: 52.9151650736998%; }
.star-background .star:nth-child(115) { top: 9.694737015433198%; left: 60.71968101150465%; }
.star-background .star:nth-child(116) { top: 79.2013321715626%; left: 90.04810709555436%; }
.star-background .star:nth-child(117) { top: 64.28005140224609%; left: 25.14908325009295%; }
.star-background .star:nth-child(118) { top: 57.42587409582398%; left: 16.414165189494078%; }
.star-background .star:nth-child(119) { top: 53.42871182381823%; left: 59.64342627805665%; }
.star-background .star:nth-child(120) { top: 74.11030148214574%; left: 72.86330012441672%; }
.star-background .star:nth-child(121) { top: 73.02206446490989%; left: 19.600167231173927%; }
.star-background .star:nth-child(122) { top: 51.778305150171924%; left: 87.09856757649692%; }
.star-background .star:nth-child(123) { top: 90.12840673370073%; left: 68.83520523364028%; }
.star-background .star:nth-child(124) { top: 81.50865464211992%; left: 76.44855543825821%; }
.star-background .star:nth-child(125) { top: 85.0594257405322%; left: 0.9545695044408165%; }
.star-background .star:nth-child(126) { top: 95.254208539106%; left: 58.78834015886998%; }
.star-background .star:nth-child(127) { top: 20.07528947487085%; left: 32.84665276537382%; }
.star-background .star:nth-child(128) { top: 58.16861333364116%; left: 2.9100272594389853%; }
.star-background .star:nth-child(129) { top: 33.39048885627103%; left: 27.411677681796576%; }
.star-background .star:nth-child(130) { top: 68.75973508288583%; left: 81.93639702718116%; }
.star-background .star:nth-child(131) { top: 42.48678744836791%; left: 78.83215494418616%; }
.star-background .star:nth-child(132) { top: 95.83095686261976%; left: 43.61421257411464%; }
.star-background .star:nth-child(133) { top: 82.06001859622627%; left: 94.78770862871517%; }
.star-background .star:nth-child(134) { top: 12.802159808937862%; left: 31.140322882562966%; }
.star-background .star:nth-child(135) { top: 34.669425699185986%; left: 80.36151950970611%; }
.star-background .star:nth-child(136) { top: 87.1355449038914%; left: 26.685873743608756%; }
.star-background .star:nth-child(137) { top: 49.64965453179122%; left: 64.66370368155188%; }
.star-background .star:nth-child(138) { top: 34.54872979233596%; left: 92.23495805140298%; }
.star-background .star:nth-child(139) { top: 98.25495853561227%; left: 81.26209711492916%; }
.star-background .star:nth-child(140) { top: 36.273985697177146%; left: 30.730018133197202%; }
.star-background .star:nth-child(141) { top: 64.4011940185487%; left: 76.11607502582676%; }
.star-background .star:nth-child(142) { top: 23.255269115583623%; left: 84.3035481176543%; }
.star-background .star:nth-child(143) { top: 89.60956378128834%; left: 1.7948771914186423%; }
.star-background .star:nth-child(144) { top: 85.29302159570231%; left: 17.50302249843163%; }
.star-background .star:nth-child(145) { top: 70.1334747074173%; left: 27.118275787528965%; }
.star-background .star:nth-child(146) { top: 42.92994267316133%; left: 76.7360320771381%; }
.star-background .star:nth-child(147) { top: 63.994145871453156%; left: 14.07410221384331%; }
.star-background .star:nth-child(148) { top: 84.53969209204202%; left: 69.06947254853195%; }
.star-background .star:nth-child(149) { top: 95.12241609516634%; left: 19.328003477288892%; }
.star-background .star:nth-child(150) { top: 81.92600101515843%; left: 15.712592423526672%; }
.star-background .star:nth-child(151) { top: 44.52355543488154%; left: 9.0466178450618%; }
.star-background .star:nth-child(152) { top: 76.72835154203143%; left: 21.504019400309105%; }
.star-background .star:nth-child(153) { top: 50.26541295481466%; left: 5.94229365654233%; }
.star-background .star:nth-child(154) { top: 97.38536434408095%; left: 39.65343926012375%; }
.star-background .star:nth-child(155) { top: 1.0864212196896483%; left: 94.77543336771288%; }
.star-background .star:nth-child(156) { top: 58.457975357399626%; left: 99.67046492660745%; }
.star-background .star:nth-child(157) { top: 10.742407341442384%; left: 93.9550289967895%; }
.star-background .star:nth-child(158) { top: 98.07322100228598%; left: 43.31437821776745%; }
.star-background .star:nth-child(159) { top: 60.616732336032484%; left: 18.318305684469482%; }
.star-background .star:nth-child(160) { top: 7.92821205747174%; left: 54.472311672751594%; }
.star-background .star:nth-child(161) { top: 54.32869521254877%; left: 92.59539113619142%; }
.star-background .star:nth-child(162) { top: 22.990779428168473%; left: 87.99062029312377%; }
.star-background .star:nth-child(163) { top: 89.46405940768283%; left: 70.16293666590299%; }
.star-background .star:nth-child(164) { top: 65.43227364805628%; left: 42.704850123718316%; }
.star-background .star:nth-child(165) { top: 50.90850929295736%; left: 32.3470323257302%; }
.star-background .star:nth-child(166) { top: 0.27103201362170815%; left: 52.79238025419082%; }
.star-background .star:nth-child(167) { top: 48.39594347633642%; left: 25.21738690789541%; }
.star-background .star:nth-child(168) { top: 85.08832318363125%; left: 29.203019459826507%; }
.star-background .star:nth-child(169) { top: 5.916698100349116%; left: 18.735914401084642%; }
.star-background .star:nth-child(170) { top: 33.478801949228924%; left: 91.9294424858337%; }
.star-background .star:nth-child(171) { top: 17.324764408818982%; left: 91.26773097856345%; }
.star-background .star:nth-child(172) { top: 14.810238782711217%; left: 16.313670833918415%; }
.star-background .star:nth-child(173) { top: 52.09704085556055%; left: 59.41082483808404%; }
.star-background .star:nth-child(174) { top: 52.660126775744786%; left: 10.751819860605917%; }
.star-background .star:nth-child(175) { top: 77.73573819025412%; left: 97.22124507610523%; }
.star-background .star:nth-child(176) { top: 71.94574511600835%; left: 66.40150440806909%; }
.star-background .star:nth-child(177) { top: 53.447849722786%; left: 11.143246184235633%; }
.star-background .star:nth-child(178) { top: 36.78298939468117%; left: 16.222231610214855%; }
.star-background .star:nth-child(179) { top: 86.20504937172468%; left: 63.47114254389903%; }
.star-background .star:nth-child(180) { top: 11.684899182508325%; left: 20.082647213098937%; }
.star-background .star:nth-child(181) { top: 70.45669084744021%; left: 40.779577909083464%; }
.star-background .star:nth-child(182) { top: 7.471130001632842%; left: 69.76424203558511%; }
.star-background .star:nth-child(183) { top: 91.70390719004075%; left: 68.83332619565064%; }
.star-background .star:nth-child(184) { top: 64.61727617392505%; left: 93.59317993589353%; }
.star-background .star:nth-child(185) { top: 16.4599821352976%; left: 25.31195308367622%; }
.star-background .star:nth-child(186) { top: 1.9118479473948735%; left: 71.3525050554737%; }
.star-background .star:nth-child(187) { top: 97.77672626147238%; left: 86.52028523405171%; }
.star-background .star:nth-child(188) { top: 22.779942927098862%; left: 61.88273994629614%; }
.star-background .star:nth-child(189) { top: 13.176757353676273%; left: 6.6034279398516915%; }
.star-background .star:nth-child(190) { top: 5.728986857603857%; left: 67.44727729367482%; }
.star-background .star:nth-child(191) { top: 57.44822253794148%; left: 29.946082228356442%; }
.star-background .star:nth-child(192) { top: 31.97568125975203%; left: 23.653508815821354%; }
.star-background .star:nth-child(193) { top: 40.02339438522435%; left: 1.380248793280292%; }
.star-background .star:nth-child(194) { top: 74.65075081674632%; left: 0.41461873851600384%; }
.star-background .star:nth-child(195) { top: 4.261132561879788%; left: 10.503531294801682%; }
.star-background .star:nth-child(196) { top: 59.85601587167248%; left: 65.9274359755391%; }
.star-background .star:nth-child(197) { top: 85.59549948600721%; left: 79.77086007293872%; }
.star-background .star:nth-child(198) { top: 50.87373950917291%; left: 66.6527735381498%; }
.star-background .star:nth-child(199) { top: 19.548274324585215%; left: 48.874078956753245%; }
.star-background .star:nth-child(200) { top: 72.37751439029232%; left: 36.65843725017699%; }
.star-background .star:nth-child(201) { top: 44.94077673247976%; left: 66.5526690216157%; }
.star-background .star:nth-child(202) { top: 58.53947757561018%; left: 32.868914848856875%; }
.star-background .star:nth-child(203) { top: 70.60533116002594%; left: 61.06172189066159%; }
.star-background .star:nth-child(204) { top: 60.517116729700945%; left: 96.87043359737473%; }
.star-background .star:nth-child(205) { top: 0.4670789529561903%; left: 14.377901796584048%; }
.star-background .star:nth-child(206) { top: 21.125114891075935%; left: 75.95822590698108%; }
.star-background .star:nth-child(207) { top: 28.450652803147825%; left: 1.5342061079767655%; }
.star-background .star:nth-child(208) { top: 22.16785492052442%; left: 30.88051622605599%; }
.star-background .star:nth-child(209) { top: 25.09125729734738%; left: 44.84513392592926%; }
.star-background .star:nth-child(210) { top: 77.60704701557735%; left: 36.923979730474876%; }
.star-background .star:nth-child(211) { top: 89.15184121873577%; left: 2.5505272779221766%; }
.star-background .star:nth-child(212) { top: 66.10435599129138%; left: 6.0615852579696705%; }
.star-background .star:nth-child(213) { top: 25.808607259953398%; left: 83.57666248366753%; }
.star-background .star:nth-child(214) { top: 0.6994436580555874%; left: 18.138909075292943%; }
.star-background .star:nth-child(215) { top: 31.707817248025073%; left: 18.492332849670913%; }
.star-background .star:nth-child(216) { top: 48.921978626202225%; left: 59.89053003637685%; }
.star-background .star:nth-child(217) { top: 19.349990314570785%; left: 45.33390835108398%; }
.star-background .star:nth-child(218) { top: 13.404469557247012%; left: 74.2108216342114%; }
.star-background .star:nth-child(219) { top: 65.019336056378%; left: 63.385125706145985%; }
.star-background .star:nth-child(220) { top: 9.440018055760667%; left: 1.7135708617978196%; }
.star-background .star:nth-child(221) { top: 51.41739397830942%; left: 77.85109582179857%; }
.star-background .star:nth-child(222) { top: 83.90601361754679%; left: 7.935846122567614%; }
.star-background .star:nth-child(223) { top: 80.0503379872399%; left: 55.29829660321952%; }
.star-background .star:nth-child(224) { top: 79.54788854569956%; left: 2.1183402904498383%; }
.star-background .star:nth-child(225) { top: 8.140301070996658%; left: 31.17839409834089%; }
.star-background .star:nth-child(226) { top: 0.03310866056711603%; left: 97.19935315953785%; }
.star-background .star:nth-child(227) { top: 51.1553105993666%; left: 75.35082971524207%; }
.star-background .star:nth-child(228) { top: 79.28832214866735%; left: 90.88779551451765%; }
.star-background .star:nth-child(229) { top: 44.21579034079697%; left: 73.06031149746129%; }
.star-background .star:nth-child(230) { top: 71.6651140391343%; left: 73.53552208488152%; }
.star-background .star:nth-child(231) { top: 38.959663014032465%; left: 23.507462619648976%; }
.star-background .star:nth-child(232) { top: 24.2128537235303%; left: 50.929409437391996%; }
.star-background .star:nth-child(233) { top: 93.8097037248132%; left: 94.95984918301268%; }
.star-background .star:nth-child(234) { top: 41.42526878053226%; left: 89.8900091201609%; }
.star-background .star:nth-child(235) { top: 73.62261043948625%; left: 20.76815885042389%; }
.star-background .star:nth-child(236) { top: 63.25586031832009%; left: 7.578605769094637%; }
.star-background .star:nth-child(237) { top: 79.04707756060311%; left: 41.49214862897721%; }
.star-background .star:nth-child(238) { top: 26.85674301547212%; left: 95.61499181412816%; }
.star-background .star:nth-child(239) { top: 13.018936725466812%; left: 94.55759709290142%; }
.star-background .star:nth-child(240) { top: 14.66721253408927%; left: 6.4422700502091645%; }
.star-background .star:nth-child(241) { top: 95.68923418495608%; left: 41.46122404719208%; }
.star-background .star:nth-child(242) { top: 69.901206164077%; left: 15.578234159197969%; }
.star-background .star:nth-child(243) { top: 94.28269138124811%; left: 30.982429996320615%; }
.star-background .star:nth-child(244) { top: 7.42110819312507%; left: 70.23911394063829%; }
.star-background .star:nth-child(245) { top: 60.699775551072044%; left: 47.067789027209606%; }
.star-background .star:nth-child(246) { top: 59.1898257197909%; left: 14.79013907452753%; }
.star-background .star:nth-child(247) { top: 68.90755902229724%; left: 6.720835182798912%; }
.star-background .star:nth-child(248) { top: 40.02818796641077%; left: 17.768816379348728%; }
.star-background .star:nth-child(249) { top: 14.782147799930389%; left: 30.242601304887785%; }
.star-background .star:nth-child(250) { top: 81.23524967996568%; left: 49.6653078926963%; }
.star-background .star:nth-child(251) { top: 79.23009963825946%; left: 59.03639955556166%; }
.star-background .star:nth-child(252) { top: 84.77647923593237%; left: 79.43280364783574%; }
.star-background .star:nth-child(253) { top: 8.76848717098615%; left: 21.465646282062956%; }
.star-background .star:nth-child(254) { top: 51.99659641899703%; left: 79.85052464160538%; }
.star-background .star:nth-child(255) { top: 51.33515345470319%; left: 87.11189702159452%; }
.star-background .star:nth-child(256) { top: 1.3298555766596332%; left: 80.02669889102488%; }
.star-background .star:nth-child(257) { top: 7.271119553583949%; left: 66.6088761720292%; }
.star-background .star:nth-child(258) { top: 40.29396619856267%; left: 85.44161427282997%; }
.star-background .star:nth-child(259) { top: 52.116968900229985%; left: 89.36816133065895%; }
.star-background .star:nth-child(260) { top: 56.33982352917146%; left: 69.63935823667899%; }
.star-background .star:nth-child(261) { top: 22.057546397939575%; left: 3.0700272841895693%; }
.star-background .star:nth-child(262) { top: 68.2277031719322%; left: 96.48238865423342%; }
.star-background .star:nth-child(263) { top: 21.141462693128197%; left: 98.05333893267118%; }
.star-background .star:nth-child(264) { top: 60.76561615705365%; left: 80.4675898260796%; }
.star-background .star:nth-child(265) { top: 77.17396709503521%; left: 91.54829840164618%; }
.star-background .star:nth-child(266) { top: 1.5254279675100513%; left: 33.069869739571956%; }
.star-background .star:nth-child(267) { top: 11.919346908008777%; left: 24.448149872056078%; }
.star-background .star:nth-child(268) { top: 50.88201325110704%; left: 65.38456807437557%; }
.star-background .star:nth-child(269) { top: 7.39801189923357%; left: 66.99905535622908%; }
.star-background .star:nth-child(270) { top: 22.1872390117154%; left: 83.62856234284102%; }
.star-background .star:nth-child(271) { top: 28.302677286859247%; left: 65.80289854145501%; }
.star-background .star:nth-child(272) { top: 92.91806285589179%; left: 49.93574891697741%; }
.star-background .star:nth-child(273) { top: 19.362278450380323%; left: 65.11126649198913%; }
.star-background .star:nth-child(274) { top: 91.21139639720883%; left: 88.3191546992619%; }
.star-background .star:nth-child(275) { top: 18.601085433140053%; left: 9.83539617943765%; }
.star-background .star:nth-child(276) { top: 10.07654887945284%; left: 56.63573220858113%; }
.star-background .star:nth-child(277) { top: 81.64498024663192%; left: 80.57343437006512%; }
.star-background .star:nth-child(278) { top: 87.03485436442955%; left: 76.16907146104046%; }
.star-background .star:nth-child(279) { top: 1.025368211948452%; left: 32.06139292787251%; }
.star-background .star:nth-child(280) { top: 86.88235948341992%; left: 20.6360664532804%; }
.star-background .star:nth-child(281) { top: 90.75975431607135%; left: 46.77024684923079%; }
.star-background .star:nth-child(282) { top: 10.256535077314544%; left: 50.40758759456272%; }
.star-background .star:nth-child(283) { top: 47.97656394566911%; left: 38.35833789345233%; }
.star-background .star:nth-child(284) { top: 10.699606106114313%; left: 24.013045625100247%; }
.star-background .star:nth-child(285) { top: 98.61577574227896%; left: 40.30266581708359%; }
.star-background .star:nth-child(286) { top: 99.35222142651234%; left: 71.3100336474407%; }
.star-background .star:nth-child(287) { top: 5.452791097815424%; left: 48.2465833881242%; }
.star-background .star:nth-child(288) { top: 99.72557468490153%; left: 10.155184436332787%; }
.star-background .star:nth-child(289) { top: 89.95933208897782%; left: 28.847709642192697%; }
.star-background .star:nth-child(290) { top: 36.93154980887794%; left: 38.58262848068408%; }
.star-background .star:nth-child(291) { top: 68.59582158869846%; left: 19.704627952625266%; }
.star-background .star:nth-child(292) { top: 24.602206194033283%; left: 11.1936934374532%; }
.star-background .star:nth-child(293) { top: 35.948651952631884%; left: 65.27215129322693%; }
.star-background .star:nth-child(294) { top: 88.14154987840128%; left: 33.22057815819386%; }
.star-background .star:nth-child(295) { top: 55.284133234882034%; left: 62.99367518214947%; }
.star-background .star:nth-child(296) { top: 79.8859819898205%; left: 34.95301253776939%; }
.star-background .star:nth-child(297) { top: 93.02780012915667%; left: 41.2036283944095%; }
.star-background .star:nth-child(298) { top: 79.4005071799222%; left: 22.777254528730296%; }
.star-background .star:nth-child(299) { top: 9.903835148416062%; left: 82.57299589291061%; }
.star-background .star:nth-child(300) { top: 91.60319719102101%; left: 2.188232376661192%; }
.star-background .star:nth-child(301) { top: 98.49224180080793%; left: 29.7799671776501%; }
.star-background .star:nth-child(302) { top: 56.43409641480095%; left: 95.10054808075199%; }
.star-background .star:nth-child(303) { top: 57.440637797438576%; left: 33.046045381420996%; }
.star-background .star:nth-child(304) { top: 0.4985544284166421%; left: 11.623350163953884%; }
.star-background .star:nth-child(305) { top: 9.631812767384895%; left: 81.1398600633593%; }
.star-background .star:nth-child(306) { top: 58.992961053869394%; left: 27.933885119385103%; }
.star-background .star:nth-child(307) { top: 84.4484452491393%; left: 50.41836642785993%; }
.star-background .star:nth-child(308) { top: 85.59100042308188%; left: 80.44814579126802%; }
.star-background .star:nth-child(309) { top: 97.65715510257613%; left: 13.134301753098821%; }
.star-background .star:nth-child(310) { top: 42.642947598724376%; left: 35.373414598095934%; }
.star-background .star:nth-child(311) { top: 85.40511042940959%; left: 89.5233797380677%; }
.star-background .star:nth-child(312) { top: 23.984253542460653%; left: 88.7074975004769%; }
.star-background .star:nth-child(313) { top: 74.77292274603235%; left: 86.31698491606956%; }
.star-background .star:nth-child(314) { top: 98.98770595813815%; left: 19.68920323846739%; }
.star-background .star:nth-child(315) { top: 8.061085440135063%; left: 77.84874297495689%; }
.star-background .star:nth-child(316) { top: 4.60216813378338%; left: 40.91895391504996%; }
.star-background .star:nth-child(317) { top: 93.35065548999528%; left: 62.01604720999487%; }
.star-background .star:nth-child(318) { top: 22.466364956046547%; left: 15.336853266150307%; }
.star-background .star:nth-child(319) { top: 41.44969530694884%; left: 94.62068972168973%; }
.star-background .star:nth-child(320) { top: 61.76327495987244%; left: 23.41440133011041%; }
.star-background .star:nth-child(321) { top: 91.72289021155859%; left: 86.72931616912378%; }
.star-background .star:nth-child(322) { top: 54.69244386955052%; left: 17.196649219845096%; }
.star-background .star:nth-child(323) { top: 26.970313724780425%; left: 67.58212764035972%; }
.star-background .star:nth-child(324) { top: 65.33378731847885%; left: 81.84513877017399%; }
.star-background .star:nth-child(325) { top: 25.43249390372044%; left: 32.967195146260075%; }
.star-background .star:nth-child(326) { top: 18.541815599299994%; left: 20.06104329083833%; }
.star-background .star:nth-child(327) { top: 0.6050123658800644%; left: 78.45516177184363%; }
.star-background .star:nth-child(328) { top: 1.3973092091012163%; left: 11.70266674579523%; }
.star-background .star:nth-child(329) { top: 4.237926972491213%; left: 30.98776752449668%; }
.star-background .star:nth-child(330) { top: 45.64296236890908%; left: 97.35291910867441%; }
.star-background .star:nth-child(331) { top: 24.904020974821805%; left: 65.180866426932%; }
.star-background .star:nth-child(332) { top: 9.053034251204007%; left: 30.66823479947718%; }
.star-background .star:nth-child(333) { top: 34.03816290904744%; left: 12.739255709535735%; }
.star-background .star:nth-child(334) { top: 78.34598716279172%; left: 54.85172739277853%; }
.star-background .star:nth-child(335) { top: 13.699631761370146%; left: 46.42987072684264%; }
.star-background .star:nth-child(336) { top: 74.3050923554224%; left: 56.09265898753271%; }
.star-background .star:nth-child(337) { top: 90.43620629893923%; left: 26.50623525400082%; }
.star-background .star:nth-child(338) { top: 45.404408145086265%; left: 16.69081586251062%; }
.star-background .star:nth-child(339) { top: 54.572127256330894%; left: 5.836459249023851%; }
.star-background .star:nth-child(340) { top: 10.217185289949814%; left: 90.102981892231%; }
.star-background .star:nth-child(341) { top: 26.815315716497288%; left: 98.21381985119983%; }
.star-background .star:nth-child(342) { top: 29.0975327468487%; left: 93.47995959095489%; }
.star-background .star:nth-child(343) { top: 82.12888795204883%; left: 39.83680422162934%; }
.star-background .star:nth-child(344) { top: 46.844431766500435%; left: 76.31196758216241%; }
.star-background .star:nth-child(345) { top: 99.80302209997578%; left: 61.53056182112262%; }
.star-background .star:nth-child(346) { top: 0.8210942557399514%; left: 81.32908715291252%; }
.star-background .star:nth-child(347) { top: 63.5075025605883%; left: 57.310734692238974%; }
.star-background .star:nth-child(348) { top: 1.0512494750439583%; left: 44.95527609586843%; }
.star-background .star:nth-child(349) { top: 85.05360670852882%; left: 33.013951693470766%; }
.star-background .star:nth-child(350) { top: 48.43928745137003%; left: 14.871335709027523%; }
.star-background .star:nth-child(351) { top: 25.98773355498507%; left: 96.62807675983439%; }
.star-background .star:nth-child(352) { top: 70.62840466790999%; left: 90.99331700133857%; }
.star-background .star:nth-child(353) { top: 65.60725748780192%; left: 45.480264407783125%; }
.star-background .star:nth-child(354) { top: 98.3289022058791%; left: 70.3146604741134%; }
.star-background .star:nth-child(355) { top: 34.55330244273964%; left: 94.24519674818035%; }
.star-background .star:nth-child(356) { top: 61.14229213966442%; left: 90.45804190975382%; }
.star-background .star:nth-child(357) { top: 42.22537386454866%; left: 98.46640190097705%; }
.star-background .star:nth-child(358) { top: 95.54779997858857%; left: 61.55622699838932%; }
.star-background .star:nth-child(359) { top: 75.73490929478059%; left: 99.53648609312692%; }
.star-background .star:nth-child(360) { top: 74.05125511063395%; left: 10.348717553281595%; }
.star-background .star:nth-child(361) { top: 72.99901382301105%; left: 25.429664623383385%; }
.star-background .star:nth-child(362) { top: 71.93079310779535%; left: 34.0374550839788%; }
.star-background .star:nth-child(363) { top: 91.49216437915601%; left: 93.27693375873966%; }
.star-background .star:nth-child(364) { top: 68.38942374488803%; left: 38.30598759420769%; }
.star-background .star:nth-child(365) { top: 17.72327275775629%; left: 27.059591284120344%; }
.star-background .star:nth-child(366) { top: 77.87409644833798%; left: 43.9286106460909%; }
.star-background .star:nth-child(367) { top: 34.37317464559651%; left: 11.389007916333682%; }
.star-background .star:nth-child(368) { top: 11.16329833365941%; left: 79.75561384096153%; }
.star-background .star:nth-child(369) { top: 82.93375991930341%; left: 93.88263114765056%; }
.star-background .star:nth-child(370) { top: 79.70936187044957%; left: 82.7663771679708%; }
.star-background .star:nth-child(371) { top: 83.43679655640297%; left: 1.3325216746446822%; }
.star-background .star:nth-child(372) { top: 43.67603926212351%; left: 96.84552677396567%; }
.star-background .star:nth-child(373) { top: 50.91968898084242%; left: 23.353663761941856%; }
.star-background .star:nth-child(374) { top: 10.174830426653013%; left: 71.73898920371902%; }
.star-background .star:nth-child(375) { top: 76.18247785946173%; left: 58.540092477915316%; }
.star-background .star:nth-child(376) { top: 83.49699392467423%; left: 24.65832825918568%; }
.star-background .star:nth-child(377) { top: 69.19513176022618%; left: 15.614684390827582%; }
.star-background .star:nth-child(378) { top: 11.401469070346737%; left: 58.829041399259886%; }
.star-background .star:nth-child(379) { top: 41.10233646692085%; left: 72.71637048215342%; }
.star-background .star:nth-child(380) { top: 96.30130704460571%; left: 52.0913098920184%; }
.star-background .star:nth-child(381) { top: 33.22290363108091%; left: 95.80950909651851%; }
.star-background .star:nth-child(382) { top: 9.705361377859422%; left: 7.5646757499001405%; }
.star-background .star:nth-child(383) { top: 11.797643718936524%; left: 52.086204673298965%; }
.star-background .star:nth-child(384) { top: 18.75567042288393%; left: 42.9813248739999%; }
.star-background .star:nth-child(385) { top: 34.19067672815541%; left: 97.48370328953726%; }
.star-background .star:nth-child(386) { top: 91.59475883680372%; left: 42.93344608117078%; }
.star-background .star:nth-child(387) { top: 53.92736259941822%; left: 27.152212075998563%; }
.star-background .star:nth-child(388) { top: 83.9380633752503%; left: 63.05151218746698%; }
.star-background .star:nth-child(389) { top: 90.19568643676095%; left: 37.38461845706846%; }
.star-background .star:nth-child(390) { top: 77.09408384088997%; left: 12.038511234596072%; }
.star-background .star:nth-child(391) { top: 97.01082873298677%; left: 46.82170829435894%; }
.star-background .star:nth-child(392) { top: 4.560762837469445%; left: 16.29150313184533%; }
.star-background .star:nth-child(393) { top: 54.1205246271161%; left: 48.77241700370261%; }
.star-background .star:nth-child(394) { top: 54.130929557928994%; left: 29.464098678305973%; }
.star-background .star:nth-child(395) { top: 75.8981348805402%; left: 30.10149915609781%; }
.star-background .star:nth-child(396) { top: 62.739767873187006%; left: 56.34514678611124%; }
.star-background .star:nth-child(397) { top: 4.379930886544958%; left: 11.222309232628902%; }
.star-background .star:nth-child(398) { top: 28.996519638151597%; left: 40.23864499820924%; }
.star-background .star:nth-child(399) { top: 17.25653414992816%; left: 50.39241063331901%; }
.star-background .star:nth-child(400) { top: 61.57473551827284%; left: 88.1748794161371%; }
.star-background .star:nth-child(401) { top: 49.52070726395566%; left: 87.62659426667243%; }
.star-background .star:nth-child(402) { top: 73.27952557518938%; left: 18.36244411690697%; }
.star-background .star:nth-child(403) { top: 28.234563622025167%; left: 69.2823509731378%; }
.star-background .star:nth-child(404) { top: 24.699029611941526%; left: 69.92485809161293%; }
.star-background .star:nth-child(405) { top: 97.6158077766834%; left: 76.66841217465415%; }
.star-background .star:nth-child(406) { top: 17.53259977597508%; left: 93.40103900694416%; }
.star-background .star:nth-child(407) { top: 68.74015834192248%; left: 34.40513726984784%; }
.star-background .star:nth-child(408) { top: 91.15127468009034%; left: 20.01679551127293%; }
.star-background .star:nth-child(409) { top: 10.495588217029805%; left: 25.66683778227814%; }
.star-background .star:nth-child(410) { top: 48.60427561325673%; left: 44.51201316755014%; }
.star-background .star:nth-child(411) { top: 77.87203540867264%; left: 34.60502541851702%; }
.star-background .star:nth-child(412) { top: 60.478687524954246%; left: 93.06478707503526%; }
.star-background .star:nth-child(413) { top: 7.591121248595423%; left: 0.8788704609498765%; }
.star-background .star:nth-child(414) { top: 95.13196809433875%; left: 23.480639498014888%; }
.star-background .star:nth-child(415) { top: 69.89172089264555%; left: 90.87933778474803%; }
.star-background .star:nth-child(416) { top: 79.35639104939443%; left: 79.15186775522456%; }
.star-background .star:nth-child(417) { top: 64.0981205499712%; left: 69.59634676292016%; }
.star-background .star:nth-child(418) { top: 93.41140953472656%; left: 4.176668437439823%; }
.star-background .star:nth-child(419) { top: 92.71976988812263%; left: 95.72711078838503%; }
.star-background .star:nth-child(420) { top: 96.87499923977609%; left: 11.034668926714986%; }
.star-background .star:nth-child(421) { top: 5.8645712566912644%; left: 79.31955867427251%; }
.star-background .star:nth-child(422) { top: 54.11461957361809%; left: 32.82944064365685%; }
.star-background .star:nth-child(423) { top: 29.38365441425843%; left: 34.32807069383734%; }
.star-background .star:nth-child(424) { top: 2.371074016269814%; left: 70.2391133758465%; }
.star-background .star:nth-child(425) { top: 13.122529736152512%; left: 6.745427991878317%; }
.star-background .star:nth-child(426) { top: 87.77712361894734%; left: 25.69281683377156%; }
.star-background .star:nth-child(427) { top: 46.530614347565624%; left: 97.21175199464093%; }
.star-background .star:nth-child(428) { top: 39.2630686637476%; left: 24.419935180838493%; }
.star-background .star:nth-child(429) { top: 10.694149200572479%; left: 90.14934018105882%; }
.star-background .star:nth-child(430) { top: 66.47075822165309%; left: 24.258058657124735%; }
.star-background .star:nth-child(431) { top: 43.323516606268456%; left: 43.45636664911938%; }
.star-background .star:nth-child(432) { top: 67.0009096302864%; left: 7.006035248421183%; }
.star-background .star:nth-child(433) { top: 29.960894158597373%; left: 70.93832384678021%; }
.star-background .star:nth-child(434) { top: 74.2751512235387%; left: 28.90887566598519%; }
.star-background .star:nth-child(435) { top: 77.59195801474903%; left: 52.183282804164264%; }
.star-background .star:nth-child(436) { top: 24.945694064118975%; left: 13.293702540030194%; }
.star-background .star:nth-child(437) { top: 52.752299368137365%; left: 81.43253873356875%; }
.star-background .star:nth-child(438) { top: 94.42330183327748%; left: 68.02000477608088%; }
.star-background .star:nth-child(439) { top: 98.87460034925435%; left: 99.17384008246772%; }
.star-background .star:nth-child(440) { top: 14.81660777113949%; left: 48.006840185741126%; }
.star-background .star:nth-child(441) { top: 57.060418142787505%; left: 87.08366407546244%; }
.star-background .star:nth-child(442) { top: 94.67371397790939%; left: 79.87494323328596%; }
.star-background .star:nth-child(443) { top: 21.518814991764778%; left: 46.31393616954642%; }
.star-background .star:nth-child(444) { top: 92.7271923471029%; left: 52.64222757872241%; }
.star-background .star:nth-child(445) { top: 10.127144414392175%; left: 95.07012871583211%; }
.star-background .star:nth-child(446) { top: 95.36804103587959%; left: 88.98486963158993%; }
.star-background .star:nth-child(447) { top: 7.140887048200417%; left: 87.78722366378213%; }
.star-background .star:nth-child(448) { top: 58.577983409888375%; left: 8.42661116546044%; }
.star-background .star:nth-child(449) { top: 46.35006916447133%; left: 8.330463555632628%; }
.star-background .star:nth-child(450) { top: 6.498640186018156%; left: 49.83224246599121%; }
.star-background .star:nth-child(451) { top: 56.406652896545786%; left: 20.743368330033274%; }
.star-background .star:nth-child(452) { top: 67.17145510662652%; left: 34.01666628092626%; }
.star-background .star:nth-child(453) { top: 21.569690659773123%; left: 39.65575721344696%; }
.star-background .star:nth-child(454) { top: 29.31649804810441%; left: 97.9517677932881%; }
.star-background .star:nth-child(455) { top: 77.8479988932941%; left: 3.9235379315128993%; }
.star-background .star:nth-child(456) { top: 65.02824328957568%; left: 76.07826509944036%; }
.star-background .star:nth-child(457) { top: 65.95965383479407%; left: 91.34798663436881%; }
.star-background .star:nth-child(458) { top: 51.02375464563069%; left: 13.422075338033013%; }
.star-background .star:nth-child(459) { top: 19.821447994917452%; left: 53.55034591424113%; }
.star-background .star:nth-child(460) { top: 16.344303754127587%; left: 25.74308966996719%; }
.star-background .star:nth-child(461) { top: 74.17996925491596%; left: 16.645656088976967%; }
.star-background .star:nth-child(462) { top: 40.47243524805162%; left: 41.55272428747494%; }
.star-background .star:nth-child(463) { top: 64.736695982387%; left: 9.031055540408373%; }
.star-background .star:nth-child(464) { top: 26.273464499816377%; left: 32.42676292413363%; }
.star-background .star:nth-child(465) { top: 54.38260563996729%; left: 3.599033553813502%; }
.star-background .star:nth-child(466) { top: 80.19853007284541%; left: 47.836324482000435%; }
.star-background .star:nth-child(467) { top: 10.793920448002737%; left: 80.70629459334211%; }
.star-background .star:nth-child(468) { top: 12.570297209493653%; left: 63.33728193157204%; }
.star-background .star:nth-child(469) { top: 89.14782284937428%; left: 7.592229055596378%; }
.star-background .star:nth-child(470) { top: 23.556742588346214%; left: 55.400081116279324%; }
.star-background .star:nth-child(471) { top: 35.18931770398262%; left: 13.686108067927115%; }
.star-background .star:nth-child(472) { top: 67.79445207521424%; left: 72.58996028983748%; }
.star-background .star:nth-child(473) { top: 57.02514078634435%; left: 44.62727727687641%; }
.star-background .star:nth-child(474) { top: 58.242564967935564%; left: 83.95151131793706%; }
.star-background .star:nth-child(475) { top: 37.16179266663564%; left: 24.068733506606854%; }
.star-background .star:nth-child(476) { top: 96.90496449700787%; left: 27.528876250879097%; }
.star-background .star:nth-child(477) { top: 50.48080977607399%; left: 48.265835493900155%; }
.star-background .star:nth-child(478) { top: 13.53955083129672%; left: 44.56845723297391%; }
.star-background .star:nth-child(479) { top: 9.348681912488498%; left: 14.253965092196541%; }
.star-background .star:nth-child(480) { top: 8.203651317304761%; left: 62.66363342693304%; }
.star-background .star:nth-child(481) { top: 5.408652912766065%; left: 69.91737320165623%; }
.star-background .star:nth-child(482) { top: 64.39343821205932%; left: 43.75701426206253%; }
.star-background .star:nth-child(483) { top: 74.59593313599295%; left: 24.65195590196505%; }
.star-background .star:nth-child(484) { top: 63.10014875594414%; left: 16.624149126475384%; }
.star-background .star:nth-child(485) { top: 15.875406732769104%; left: 6.075180212742137%; }
.star-background .star:nth-child(486) { top: 68.32925722795113%; left: 34.554755365514026%; }
.star-background .star:nth-child(487) { top: 25.030847944028388%; left: 57.46410542530758%; }
.star-background .star:nth-child(488) { top: 29.586274581807647%; left: 6.922182865478943%; }
.star-background .star:nth-child(489) { top: 91.38116482255239%; left: 38.37717298477785%; }
.star-background .star:nth-child(490) { top: 37.530910026787325%; left: 96.92585440567292%; }
.star-background .star:nth-child(491) { top: 45.65952927045191%; left: 67.26071987896209%; }
.star-background .star:nth-child(492) { top: 69.2962695689836%; left: 82.71111021540456%; }
.star-background .star:nth-child(493) { top: 0.5951570051755173%; left: 18.329572530565287%; }
.star-background .star:nth-child(494) { top: 57.93978847668906%; left: 49.24283943556167%; }
.star-background .star:nth-child(495) { top: 55.919771151686604%; left: 44.60888519438764%; }
.star-background .star:nth-child(496) { top: 88.44341186328207%; left: 16.504510962211572%; }
.star-background .star:nth-child(497) { top: 1.6618346990745048%; left: 63.94180719245024%; }
.star-background .star:nth-child(498) { top: 7.671304993501038%; left: 27.418040770026806%; }
.star-background .star:nth-child(499) { top: 76.17233500709477%; left: 17.465468194594692%; }
.star-background .star:nth-child(500) { top: 41.310185495077164%; left: 51.94977231054698%; }